/**
 * Дерево чекбоксов
 *
 * @link        http://piumosso.github.com/tree
 * @package     tree
 * @author      Artem Golikov <art@futurecolors.ru>
 */

body {
    padding-top: 60px;
}
.checkbox-tree ul {
    margin-left: 20px;
}
label {
    display: inline-block;
}
